// Flex

@mixin flex ( $direction, $break, $justify, $align) {
    display: flex;
    flex-flow: $direction $break;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid ( $columns, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-gap: $gap;
}