.Logo {
    &-main {
        width: 1.1rem;
    }
    &-social {
        max-height: 1.2rem;
        max-width: 1.6rem;
    }
    &-chevron {
        max-width: 10px;
        max-height: 10px;
    }
}