.Intro{
    background-color: black;
    width: 100%;
    height: 100%;
    &-vid{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(rgba(0,0,0,.1),#000);
        }
    }
    &-video{
        width: 100%;
        min-height: 45vh;
        object-fit: cover;
    }
}
.Box{
    color: white;
    max-width: 44em;
    margin: -12em auto 0;
    line-height: 1.6em;
    &-info{
        border: 1px solid gray;
        padding: 3em;
        backdrop-filter: blur(5px);
    }
    &-text{
        padding-bottom: 1em;
        font-size: 1.1em;
    }
    &-link{
        text-decoration: underline;
    }
    &-weekend{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 2em 0;
        letter-spacing: 0.1em;
    }
    &-weekend1{
        position: relative;
        padding: 1.5em 4em;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background-color: gray;
        }
    }
    &-weekendTitle{
        text-align: center;
        font-size: 1.3em;
        font-weight: 600;
        margin: 0 0 0.5em;
    }
    &-weekendText{
        color: #FAF9F8BF;
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;
    }
    &-weekend2{
        padding: 1.5em 4em;
    }
}

@media screen and (max-width:768px) {
    .Box{
        &-info{
            margin: 0 1em;
        }
    }
}
@media screen and (max-width:520px) {
    .Box{
        &-weekend{
            text-align: center;
        }
        &-weekend1{
            padding: 1.5em 1em;
        }
        &-weekend2{
            padding: 1.5em 1em;
        }
    }
}